{{> layout/header}}
<body>
    {{#user}} 
    {{> layout/navbar}}
    <div class="container">
        <h1 class="pt-md-5 pb-md-5">Pokemon Manager</h1> 
        <div class="row">
            <img  src="/images/chen.png" class="col-md-2"/> 

            <div class="row col-md-10">

                <form action="/changepasswordpost" method="post"> 
                    <div class="form-group">
                        <label for="/trainerName">Hello {{name}} </label>
                        <small id="trainerHelp" class="form-text text-muted">Enter your Password</small>
                        <input type="password" class="form-control" id="trainerPwd" name="trainerPwd" aria-describedby="trainerHelp" placeholder="Enter your new password">
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {{/user}}
</body>
