{{> layout/header}}
{{> layout/navbar}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Pokedex</h1>
    <div class="card-deck">
        {{#pokemonTypes}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}} <!--2--><span class="badge badge-secondary">Id {{id}} <!--3--></span></h4>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon - Vue de devant"/></div>
                    <div class="col-xs-6 col-md-6"><img class="card-img-top" src="{{sprites.back_default}}" alt="Pokemon - Vue de derrière"/></div>
                </div>
                <div class="card-body">
                    <span class="badge badge-primary">Speed : {{stats.speed}}</span>
                    <span class="badge badge-primary">Attack : {{stats.attack}}</span>
                    <span class="badge badge-primary">Defense : {{stats.defense}}</span>
                    <span class="badge badge-primary">HP : {{stats.hp}}</span>
                </div>
                <div class="card-body">
                    <h6 class="my-0 font-weight-normal">Types</h6>
                    
                    
                    
                    
                    
                    {{#types}}
                    
                        <span class="badge badge-primary">{{.}}</span>
                    {{/types}}
                </div>
            </div>
        </div>
        {{/pokemonTypes}}
    </div>
</div>





</body>
</html>