{{> layout/header}}
{{> layout/navbar}}



<body>
<div class="container">
    {{#trainerName}}

    <h2 class="pt-md-5 pb-md-5">{{trainerName}} | 
                   {{#poke_dollar}}
                    Porte monnaie : {{.}} $
                    {{/poke_dollar}}
    
    </h2>
    <div class="card-deck">
        {{#product}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                    </span>
                    </h4>
                </div>
                <div class="card-body">
                    <span class="my-0 font-weight-normal"> <!--2--><span class="badge badge-secondary">{{id}}  <!--3--></span></span>
                    <div class="col-xs-12 col-md-12"><img class="card-img-top" src="{{sprites}}" alt="Pokemon - Vue de devant"/></div>
                </div>
                <div class="card-body">
                    <p >
                     {{label}} </p>
                     
                     
                     <span class="badge badge-primary">Prix : {{price}} $</span>
                </div>
                 <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <span>       </span>
                        <a href="/shop/{{trainerName}}/buy/{{id}}" class="btn btn-info">Acheter</a>
                    </h4>
                </div>
            </div>
        </div>
        {{/product}}
    </div>
    {{/trainerName}}
</div>


</body>
</html>