{{> layout/header}}
{{> layout/navbar}}

<body>
<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainers}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}
                        <span>       </span>
                        <a href="fight/{{name}}" class="btn btn-info">Fight</a>
                    </h4>
                </div>
                {{#pokemonTypes}}
                <div class="card-body">
                    <span class="my-0 font-weight-normal">{{name}} <!--2--><span class="badge badge-secondary">Id {{id}} <!--3--></span></span>
                    <div class="col-xs-12 col-md-12"><img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon - Vue de devant"/></div>
                </div>
                {{/pokemonTypes}}
            </div>
        </div>
        {{/trainers}}
    </div>
</div>
</body>
</html>